@page
@model razor.Pages.IndexModel
@{
    razor.Pages.User u = Model.user;
}
<h2>Введите данные</h2>
<form method="post">
    <p>Имя:<input type="text" name="name"/></p>
    <p>Почта:<input type="email" name="email"/></p>
    <p>Возраст:</p>
    <input name="age" type="number" />
    <p>О себе:</p>
    <input name="about"/>
    <p>Пул технологий(через запятую):</p>
     <input type="text" name="technologies"/>
    <input type="submit"/>
</form>
<h3>@Model.error</h3>
 